body {
    text-align: center;
    font-size: 10px;
}
h1 {
    font-size: 4em;
    padding: 20px 0;
    border-bottom: 2px solid brown;
}
/* Shapes section */
.shapes-div {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.shape-info {
    background-color: olive;
    display: grid;
    grid-template-rows: 30px 150px 20px;
    grid-template-areas: 
    "player"
    "image"
    "name";
    width: 160px;
    margin-right: 10px;
    justify-items: center;
}
h3 {
    grid-area: "player";
    font-size: 2em;
}
img {
    grid-area: "image";
    max-width: 150px;
    width: 100%;
    border-radius: 50%;
}
p {
    grid-area: "name";
    font-size: 2em;
    width: 70px;
    border-top: 2px solid brown;
}